- @games.each do |game|
%h1 Listing User Game Ids
%table
  %thead
    %tr
      %th Game
      %th In game name
      %th User
      %th Banned
      %th Permma banned
      %th User verified
      %th Verified by
      %th{:colspan => "3"}
  %tbody
    - @user_game_ids.each do |user_game_id|
      %tr
        %td= user_game_id.game_id
        %td= user_game_id.in_game_name
        %td= user_game_id.user_id
        %td= user_game_id.banned
        %td= user_game_id.permma_banned
        %td= user_game_id.user_verified
        %td= user_game_id.verified_by
        %td= link_to 'Show', user_game_id
        %td= link_to 'Edit', edit_user_game_id_path(user_game_id)
        %td= link_to 'Destroy', user_game_id, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New User game', new_user_game_id_path


= link_to 'Create New Game', new_game_path
%br
= link_to 'Create New Game Instance', new_game_instance_path
%br
= link_to 'Create New Perk', new_perk_path
%br
= link_to 'Create New Package', new_package_path
%br
= link_to 'Users Index', users_path
%br