= link_to 'Create New Game', new_game_path
%br
= link_to 'Create New Game Instance', new_game_instance_path
%br
= link_to 'Create New Perk', new_perk_path
%br
= link_to 'Create New Package', new_package_path
%br
= link_to 'Users List', users_path
%br
= link_to 'Carts', carts_path
%br