%h1.text-center Main List
=flash_msg
- @main_topics.each do |topic|
  %table.table{class: "#{topic.class.to_s.downcase}-part"}
    %tr.warning
      %td.remove-border
        %h4
          - if topic.class.to_s.downcase == 'topic' && topic.sticky
            = g_pushpin
          - if topic.class.to_s.downcase == 'forum' && topic.admins_only
            = g_cert
          - if topic.locked
            = g_lock
          - if topic.deleted
            = g_eye
          = link_to topic.title, topic
          %br
          %p.text-inline.inline
            %small
              Created by #{link_to topic.creator.username, user_path(topic.creator)} about #{local_time_ago(topic.created_at)}
          %p.inline.pull-right
            %small
              -if topic.last_updated
                most recent post: #{topic.last_updated}
    %tr.warning
      %td
        =topic.body
  %br