= form_tag('/', class: "form-horizontal" ) do
  .form-group
    = label_tag "title-#{parent_id}-#{grouping.id}", 'Title', class: 'col-sm-1 control-label' 
    .col-sm-11
      = text_field_tag "title-#{parent_id}-#{grouping.id}", '',class: 'form-control'
  - if current_user && current_user.super_admin?
    .form-group  
      = label_tag "game-id-#{parent_id}-#{grouping.id}", 'Game', class: 'col-sm-1 control-label' 
      .col-sm-5
        = select_tag "game-id-#{parent_id}-#{grouping.id}", options_for_select(@games, params["game_id"] || -2), class: 'form-control forum-game'
      = render partial: "forums/forums_game_instance_dropdown", locals: { game_instances: @game_instances, parent_id: parent_id, grouping_id: grouping.id }
  - if current_user && current_user.admin_of?(@parent_forum)
    .form-group
      = label_tag "locked-#{parent_id}-#{grouping.id}", 'Locked', class: 'col-sm-1 control-label' 
      .col-sm-1
        = check_box_tag "locked-#{parent_id}-#{grouping.id}", true, false,class: 'form-control'
      = label_tag "admin-only-#{parent_id}-#{grouping.id}", 'Admins Only', class: 'col-sm-1 control-label' 
      .col-sm-1
        = check_box_tag "admin-only-#{parent_id}-#{grouping.id}", true, false,class: 'form-control'
      - if current_user.super_admin?
        = label_tag "main-feed-#{parent_id}-#{grouping.id}", 'Main Feed', class: 'col-sm-1 control-label' 
        .col-sm-1
          = check_box_tag "main-feed-#{parent_id}-#{grouping.id}", true, false,class: 'form-control'
      - else
        .col-sm-3 
      .col-sm-2
        %button.btn.btn-default.create-new-forum.form-control{"aria-expanded" => "false", :type => "button", data: { parent_id: "#{parent_id}", grouping_id: "#{grouping.id}" }}
          Create Forum