= form_for(@forum) do |f|
  - if @forum.errors.any?
    #error_explanation
      %h2
        = pluralize(@forum.errors.count, "error")
        prohibited this forum from being saved:
      %ul
        - @forum.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
    %input{:type => "hidden", :value => "#{params["id"]}", :name => "forum[parent_id]"}
  .form-group  
    = f.label :grouping_id
    = f.select :grouping_id, options_for_select(@groupings, params["grouping_id"] || -2), {}, class: 'form-control forum-groupings'
  .form-group{hidden: true, id: 'new-grouping-forum'}
    = label_tag "forum_new_grouping"
    = text_field_tag "forum[new_grouping]", '',class: 'form-control'
  - if current_user && current_user.admin_of?(@parent_forum)
    .form-group
      = f.label :locked
      = f.check_box :locked, class: 'form-control'
    .form-group
      = f.label :admins_only
      = f.check_box :admins_only, class: 'form-control'
    .form-group
      = f.label :main_feed
      = f.check_box :main_feed, class: 'form-control'
  .form-group
    = f.submit 'Create Forum', class: 'btn btn-default'