= form_for(@perk) do |f|
  - if @perk.errors.any?
    #error_explanation
      %h2
        = pluralize(@perk.errors.count, "error")
        prohibited this perk from being saved:
      %ul
        - @perk.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :title
    = f.text_field :title
  .form-group
    = f.label :game_instance_id
    = f.number_field :game_instance_id
  .form-group
    = f.label :description
    = f.text_area :description
  .form-group
    = f.label :price
    = f.text_field :price
  .form-group
    = f.label :game_id
    = f.number_field :game_id
  .form-group
    = f.submit 'Create Perk', class: 'btn btn-default'
