#perk-table
  %input{:type => "hidden", :value => "#{@order}", :id =>'order'}
  %table.table
    %thead
      %tr
        %th
          %a{href: '#', class: 'perk-sort', data: { type: 'games'}}
            Game
            #{( @type == 'games' ? cheveron('alphabet',@order) : '').html_safe}
        %th
          %a{href: '#', class: 'perk-sort', data: { type: 'game_instances'}}
            Game instance
            #{( @type == 'game_instances' ? cheveron('alphabet',@order) : '').html_safe}
        %th
          %a{href: '#', class: 'perk-sort', data: { type: 'title'}}
            Title
            #{( @type == 'title' ? cheveron('alphabet',@order) : '').html_safe}
        %th Description
        %th
          %a{href: '#', class: 'perk-sort', data: { type: 'price_in_cents'}}
            Price
            #{( @type == 'price_in_cents' ? cheveron('numeric',@order) : '').html_safe}
        %th
    %tbody
      - @perks.each do |perk|
        %tr{id: "perk-#{perk.id}"}
          %td
            - if perk.game
              = link_to perk.game.name, game_path(perk.game.id)
          %td= perk.game_instance_id
          %td= perk.title
          %td= perk.description
          %td= perk.price_money
          %td
            - if current_user 
              %a{ href: '#', class: "add-to-cart", data: { item_type: perk.class.to_s.downcase, item_id: perk.id.to_s } }
                %i.fa.fa-cart-plus.md-font
            - else
              = link_to 'Create an Account', signup_path
  %br