%p#notice= notice
%p
  %strong Title:
  = @perk.title
%p
  %strong Game instance:
  = @perk.game_instance_id
%p
  %strong Description:
  = @perk.description
%p
  %strong Price:
  = @perk.price_money
%p
  %strong Game:
  = @perk.game_id
= link_to 'Edit', edit_perk_path(@perk), class: 'btn btn-default btn-xs'
= link_to 'Back', perks_path, class: 'btn btn-default btn-xs'
