%p#notice= notice
%h1 Listing Comments
%table
  %thead
    %tr
      %th Created by
      %th Body
      %th Topic
      %th Deleted
      %th Deleted by
      %th{:colspan => "3"}
  %tbody
    - @comments.each do |comment|
      %tr
        %td= comment.created_by
        %td= comment.body
        %td= comment.topic_id
        %td= comment.deleted
        %td= comment.deleted_by
        %td= link_to 'Show', comment
        %td= link_to 'Edit', edit_comment_path(comment)
        %td= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Comment', new_comment_path
