<p id="notice"><%= notice %></p>

<p>
  <strong>Created by:</strong>
  <%= @comment.created_by %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @comment.topic_id %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @comment.deleted %>
</p>

<p>
  <strong>Deleted by:</strong>
  <%= @comment.deleted_by %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
