%p#notice= notice
%p
  %strong Created by:
  = @comment.created_by
%p
  %strong Body:
  = @comment.body
%p
  %strong Topic:
  = @comment.topic_id
%p
  %strong Deleted:
  = @comment.deleted
%p
  %strong Deleted by:
  = @comment.deleted_by
= link_to 'Edit', edit_comment_path(@comment)
|
\#{link_to 'Back', comments_path}
