= form_for(new_topic, html: { class: "form-horizontal" }) do |f|
  - if new_topic.errors.any?
    #error_explanation
      %h2
        = pluralize(new_topic.errors.count, "error")
        prohibited this new_topic from being saved:
      %ul
        - new_topic.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :title, class: 'col-sm-1 control-label'
    .col-sm-7
      = f.text_field :title, class: 'form-control ' 
    = f.label :locked, class: 'col-sm-1 control-label'
    .col-sm-1
      = f.check_box :locked, class: 'form-control'
    = f.label :sticky, class: 'col-sm-1 control-label'
    .col-sm-1
      = f.check_box :sticky, class: 'form-control'
  .form-group
    = f.label :body, class: 'col-sm-1 control-label'
    .col-sm-9
      = f.text_area :body, class: 'form-control'
    .col-sm-2
      %button.btn.btn-default#create-new-topic{"aria-expanded" => "false", :type => "button"}
        Create Topic