%p#notice= notice
%h1 Listing Topics
%table
  %thead
    %tr
      %th Grouping
      %th Title
      %th Created by
      %th Sticky
      %th Order
      %th Body
      %th Locked
      %th Deleted
      %th Deleted by
      %th Last updated
      %th Forum
      %th{:colspan => "3"}
  %tbody
    - @topics.each do |topic|
      %tr
        %td= topic.grouping_id
        %td= topic.title
        %td= topic.created_by
        %td= topic.sticky
        %td= topic.order
        %td= topic.body
        %td= topic.locked
        %td= topic.deleted
        %td= topic.deleted_by
        %td= topic.last_updated
        %td= topic.forum_id
        %td= link_to 'Show', topic
        %td= link_to 'Edit', edit_topic_path(topic)
        %td= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Topic', new_topic_path
