%h1.text-center #{@topic.title}
=flash_msg
=render_breadcrumbs
.bg-warning
  %p
    Created by #{link_to @topic.creator.username, user_path(@topic.creator.id)} on #{local_time(@topic.created_at)}
  %p.lg-font
    = @topic.body

= render partial: 'comments/comments', locals: { comments: @topic.comments, new_comment: @new_comment, topic_id: @topic.id}