=flash_msg
= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  - if @user.image
    .form-group
      = image_tag @user.image.url(:large)
  .form-group
    = f.file_field :image, class: 'btn btn-default'
  .form-group
    = f.label t('user.username')
    %small
    %br
      = f.text_field :username, class: 'form-control'
  .form-group
    = f.label t('user.email')
    %br
      = f.text_field :email, class: 'form-control'
  - if @user.super_admin? && current_user.super_admin?
    .form-group
      = f.label t('user.phone_number')
      %br
        = f.text_field :phone_number, class: 'form-control'
    .form-group
      = f.label t('user.phone_provider')
      %br
        = f.text_field :phone_provider, class: 'form-control'
  .form-group
    = f.label t('user.about_me')
    %small
      =t('user.about_me_description')
    %br
      = f.text_area :about_me, class: 'form-control about-me-text-area'
  .actions
    = f.submit t('submit'), class: 'btn btn-primary btn-lg'