=flash_msg
%p
  %strong UserName:
  = @user.username
%p
  %strong Email:
  = @user.email
%p
  %strong Email verified:
  = @user.email_verified
%p
  %strong About me:
  = @user.about_me
%p
  %strong Admin Type:
  = @user.admin_types
- if current_user && current_user.super_admin?
  %p
    %strong Banned:
    = @user.banned
  - if @user.banned
    %p
      %strong Banned by:
      = link_to "#{@user.banned_by.username} / #{@user.banned_by.email}", user_path(@user.banned_by)

- if current_user && (current_user.super_admin? || (current_user.id.to_s == params["id"]))
  = link_to t('edit'), edit_user_path(@user), class: 'btn btn-default btn-xs'
  - if (current_user.id.to_s == params["id"])
    = link_to t('user.change_password'), update_password_user_path(@user), class: 'btn btn-default btn-xs'