%p#notice= notice
%h1 Listing Admin Roles
%table
  %thead
    %tr
      %th User
      %th Admin type
      %th Admin
      %th{:colspan => "3"}
  %tbody
    - @admin_roles.each do |admin_role|
      %tr
        %td= admin_role.user_id
        %td= admin_role.admin_type
        %td= admin_role.admin_id
        %td= link_to 'Show', admin_role
        %td= link_to 'Edit', edit_admin_role_path(admin_role)
        %td= link_to 'Destroy', admin_role, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Admin role', new_admin_role_path
