=flash_msg

%p
  %strong Total:
  .total-price
    $
    = @cart.total
- if current_user && current_user.super_admin?
  %p
    %strong Delivered:
    = @cart.delivered
  - if @cart.delivered
    %p
      %strong Delivered by:
      = @cart.delivered_by
  %input{:type => "hidden", :value => "#{form_authenticity_token}", :id =>'session_key'}
= render partial: 'cart_items'

= link_to 'Back', last_path, class: 'btn btn-default btn-xs'
