=flash_msg
- if current_user && current_user.super_admin? || current_user == cart.user
  %p
    %strong Delivered:
    = @cart.delivered
  - if @cart.delivered
    %p
      %strong Delivered by:
      = link_to @cart.deliverer.username, user_path(@cart.deliverer.id)
    %p
      %strong Delivered on:
      = local_time(@cart.delivered_on)
  - else
    %button.btn.btn-default.btn-xs.i-delivered{data: {cart_id: cart.id}}
  %br/
  %input{:type => "hidden", :value => "#{form_authenticity_token}", :id =>'session_key'}
= render partial: 'cart_items'
%table.table
  %thead
    %tr
      %th
      %th
  %tbody
    %tr
      %td
      %td.cart-item-total-wording
        %strong
          Total:
      %td.cart-item-total-price.total-price
        %strong
          =@cart.total_money

= link_to 'Back', last_path, class: 'btn btn-default btn-xs'
