= form_for(@game_instance) do |f|
  - if @game_instance.errors.any?
    #error_explanation
      %h2
        = pluralize(@game_instance.errors.count, "error")
        prohibited this game_instance from being saved:
      %ul
        - @game_instance.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :game_id
    = f.number_field :game_id, class: 'form-control'
  .form-group
    = f.label :server_name
    = f.text_field :server_name, class: 'form-control'
  .form-group
    = f.label :server_address
    = f.text_field :server_address, class: 'form-control'
  .form-group
    = f.label :server_port
    = f.number_field :server_port, class: 'form-control'
  .form-group
    = f.label :mod_list
    = f.text_area :mod_list, class: 'form-control'
  .form-group
    = f.submit 'Create Game Instance',class: 'btn btn-default'
