.btn-group
  %button.btn.btn-default.dropdown-toggle.btn-xs.btn-primary{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
    Admin
    %span.caret
  %ul.dropdown-menu{:role => "menu"}
    - if obj.class.to_s.downcase == 'game'
      %li
        %a{:href => "game_instances/new?game_name=#{obj.name}&game_id=#{obj.id}"}
          New Game Instance
      %li.divider
    %li
      %a{:href => "#{obj.class.to_s.downcase}s/#{obj.id}/edit"} 
        Edit
    %li.divider
    %li
      %a{:href => "#{obj.class.to_s.downcase}s/#{obj.id}", data: { confirm: 'Are you sure?' } }
        Delete
