- if current_user && current_user.admin_of?(@this_forum)
  %input{:type => "hidden", :value => "#{form_authenticity_token}", :id =>'session_key'}
- forums.keys.each do |grouping_key|
  - unless grouping_key == 'nil'
    %h4
      = grouping_key
  - unless forums[grouping_key].count < 1
    %table.table
      %tbody
        - forums[grouping_key].each do |forum|
          %tr{ id: "forum-#{forum.id}" }
            %td.no-padding{ id: "forum-#{forum.id}-update-section"}
              = render partial: 'layouts/tf_row', locals: { obj: forum }
    %br