- if current_user && current_user.admin_of?(@this_forum)
  %input{:type => "hidden", :value => "#{form_authenticity_token}", :id =>'session_key'}
- forums.keys.each do |grouping_key|
  - unless grouping_key == 'nil'
    %h4
      = grouping_key
  - unless forums[grouping_key].count < 1
    %table.table#sortable
      %tbody
        - forums[grouping_key].each do |forum|
          %tr{ id: "forum-#{forum.id}",data: { item_id: "#{forum.id}" } }
            = render partial: 'layouts/tf_row', locals: { obj: forum }