.btn-group
  %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button", data: { class: "#{obj.class.to_s.downcase}-#{obj.id}-options" }}
    Action
    %span.caret
  %ul.dropdown-menu{:role => "menu"}
    - if obj.deleted && current_user.king?
      %li
        %a{:href => "#", class: "btn-update-#{obj.class.to_s.downcase}", data: { forum_id: "#{obj.id}", table: "#{obj.class.to_s.downcase}-#{obj.id}", action: "un_delete" }} Un Delete
      %li
        %a{:href => "/users/#{obj.destroyer.id}"}
          Deleted by: #{obj.destroyer.username}
    - elsif current_user.admin_of?(obj)
      %li
        %a{:href => "#", class: "btn-update-#{obj.class.to_s.downcase}", data: { forum_id: "#{obj.id}", table: "#{obj.class.to_s.downcase}-#{obj.id}", action: "delete" }} Delete
    - if obj.locked
      %li
        %a{:href => "#", class: "btn-update-#{obj.class.to_s.downcase}", data: { forum_id: "#{obj.id}", table: "#{obj.class.to_s.downcase}-#{obj.id}", action: "un_lock" }} Unlock
    - else
      %li
        %a{:href => "#", class: "btn-update-#{obj.class.to_s.downcase}", data: { forum_id: "#{obj.id}", table: "#{obj.class.to_s.downcase}-#{obj.id}", action: "lock" }} Lock
    - if obj.main_feed
      %li
        %a{:href => "#", class: "btn-update-#{obj.class.to_s.downcase}", data: { forum_id: "#{obj.id}", table: "#{obj.class.to_s.downcase}-#{obj.id}", action: "un_main_feed" }} Remove from Main Feed
    - else
      %li
        %a{:href => "#", class: "btn-update-#{obj.class.to_s.downcase}", data: { forum_id: "#{obj.id}", table: "#{obj.class.to_s.downcase}-#{obj.id}", action: "main_feed" }} Add to Main Feed
    - if obj.admins_only
      %li
        %a{:href => "#", class: "btn-update-#{obj.class.to_s.downcase}", data: { forum_id: "#{obj.id}", table: "#{obj.class.to_s.downcase}-#{obj.id}", action: "open" }} Open to Public
    - else
      %li
        %a{:href => "#", class: "btn-update-#{obj.class.to_s.downcase}", data: { forum_id: "#{obj.id}", table: "#{obj.class.to_s.downcase}-#{obj.id}", action: "un_open" }} Close to Public
    - if current_user.king?
      %li.divider
      %li
        %a{:href => "#", class: "btn-update-#{obj.class.to_s.downcase}", data: { forum_id: "#{obj.id}", table: "#{obj.class.to_s.downcase}-#{obj.id}", action: "destroy" }} Destory