-if obj
  - if obj.class.to_s.downcase == 'forum' && current_user && current_user.admin_of?(obj)
    %td.remove-border{:width => "10px", class: "#{obj.class.to_s.downcase == 'forum' ? 'move-row' : ''}"}
      &nbsp;
  - else
    %td.remove-border.no-padding.warning
  %td.remove-border{colspan: 6, class: "bg-#{obj.class.to_s.downcase == 'forum' ? 'success' : 'warning'}"}
    %h4
      - if obj.class.to_s.downcase == 'topic' && obj.sticky
        %span.glyphicon.glyphicon-pushpin{"aria-hidden" => "true", title: 'This is a sticky topic'}
      - if obj.class.to_s.downcase == 'forum'
        - if obj.admins_only
          %span.glyphicon.glyphicon-certificate{"aria-hidden" => "true", title: 'Only Admins can see and post to this forum'}
        - if obj.main_feed
          %span.glyphicon.glyphicon-flag{"aria-hidden" => "true", title: 'Topics will be shown on main feed'}
      - if obj.locked
        %span.glyphicon.glyphicon-lock{"aria-hidden" => "true", title: 'This has been locked preventing future comments'}
      - if obj.deleted
        %span.glyphicon.glyphicon-eye-close{"aria-hidden" => "true", title: 'This has been soft deleted'}
      = link_to obj.title, obj
      %br
      %p.text-inline.inline
        %small
          Created by #{link_to obj.creator.username, user_path(obj.creator)} about #{local_time_ago(obj.created_at)}
      %p.inline.pull-right
        %small
          - if obj.last_updated
            #{local_relative_time(obj.last_updated, type: 'time-or-date')}
          - if obj.class.to_s.downcase == 'topic' && obj.comments_count != nil
            :escaped
              - 
            #{obj.comments_count}
    - if current_user && current_user.admin_of?(obj)
      - admin = false unless admin
      %td.remove-border.text-center.middle-align{:width => "2em", class: "bg-#{obj.class.to_s.downcase == 'forum' ? 'success' : 'warning'}"}
        = render partial: "layouts/tf_admin_button", locals: { obj: obj, admin: admin }
- else