-if obj && obj.id != "nil" && obj.id != nil
  - if obj.class.to_s.downcase == 'forum' && current_user && current_user.admin_of?(obj)
    %td{:width => "10px", class: "#{obj.class.to_s.downcase == 'forum' ? 'move-row' : ''} bg-#{obj.class.to_s.downcase == 'forum' ? 'success' : 'warning'}"}
      &nbsp;
  %td{colspan: 6, class: "bg-#{obj.class.to_s.downcase == 'forum' ? 'success' : 'warning'} #{obj.class.to_s.downcase == 'forum' ? 'forum-center-row' : ''}"}
    %h4
      - if obj.class.to_s.downcase == 'topic' && obj.sticky
        = g_pushpin
      - if obj.class.to_s.downcase == 'forum'
        - if obj.admins_only
          = g_cert
        - if obj.main_feed
          = g_flag
      - if obj.locked
        = g_lock
      - if obj.deleted
        = g_eye
      = link_to obj.title, obj
      %br
      %p.text-inline.inline
        %small
          Created by #{link_to obj.creator.username, user_path(obj.creator)} about #{local_time_ago(obj.created_at)}
      %p.inline.pull-right
        %small
          - if obj.last_updated
            last activity #{local_relative_time(obj.last_updated, type: 'time-or-date')}
          - if obj.class.to_s.downcase == 'topic' && obj.comments_count != nil
            :escaped
              - 
            #{pluralize(obj.comments_count, 'comment')}
    - if current_user && current_user.admin_of?(obj)
      - admin = false unless admin
      %td.text-center.middle-align{:width => "2em", class: "bg-#{obj.class.to_s.downcase == 'forum' ? 'success' : 'warning'}"}
        = render partial: "layouts/tf_admin_button", locals: { obj: obj, admin: admin }
- else