.btn-group
  %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button", data: { class: "admin-options" }}
    Admin
    %span.caret
  %ul.dropdown-menu{:role => "menu"}
    - if obj.deleted && current_user.king?
      %li
        %a{:href => "#", class: "update-tf", data: { item_id: "#{obj.id}", item_type: "#{obj.class.to_s.downcase}", action: "un_delete" }} 
          = g_eye
          Un Delete
      %li
        %a{:href => "/users/#{obj.destroyer.id}"}
          Deleted by: #{friendly_name(obj.destroyer)}
    - elsif current_user.admin_of?(obj)
      %li
        %a{:href => "#", class: "update-tf", data: { item_id: "#{obj.id}", item_type: "#{obj.class.to_s.downcase}", action: "delete" }} 
          = g_eye
          Delete
    - if obj.locked
      %li
        %a{:href => "#", class: "update-tf", data: { item_id: "#{obj.id}", item_type: "#{obj.class.to_s.downcase}", action: "un_lock" }} 
          = g_lock
          Unlock
    - else
      %li
        %a{:href => "#", class: "update-tf", data: { item_id: "#{obj.id}", item_type: "#{obj.class.to_s.downcase}", action: "lock" }} 
          = g_lock
          Lock
    - if obj.class.to_s.downcase == 'forum'
      - if obj.main_feed
        %li
          %a{:href => "#", class: "update-tf", data: { item_id: "#{obj.id}", item_type: "#{obj.class.to_s.downcase}", action: "un_main_feed" }} 
            = g_flag
            Remove from Main Feed
      - else
        %li
          %a{:href => "#", class: "update-tf", data: { item_id: "#{obj.id}", item_type: "#{obj.class.to_s.downcase}", action: "main_feed" }} 
            = g_flag
            Add to Main Feed
      - if obj.admins_only
        %li
          %a{:href => "#", class: "update-tf", data: { item_id: "#{obj.id}", item_type: "#{obj.class.to_s.downcase}", action: "open" }} 
            = g_cert
            Open to Public
      - else
        %li
          %a{:href => "#", class: "update-tf", data: { item_id: "#{obj.id}", item_type: "#{obj.class.to_s.downcase}", action: "un_open" }} 
            = g_cert
            Close to Public
    - if current_user.king?
      %li.divider
      %li
        %a{:href => "#", class: "update-tf", data: { item_id: "#{obj.id}", item_type: "#{obj.class.to_s.downcase}", action: "destroy" }} 
          = g_fire
          Destory
          = g_fire