%nav.navbar.navbar-inverse#top-nav-bar
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.active{:href => "#{root_path}"} #{t ('thorlife')}
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'In Game Upgrades', perks_path
        %li
          = link_to 'Games', games_path
        %li
          = link_to 'Forums', forums_path
        %li
          %a{:href => "https://twitter.com/thorlifehacks"}
            %i.fa.fa-twitter.fa-2x.fa-fw
        - if current_user
          %li.cart-link
            %a{ href: "#{cart_path(current_user.cart.id)}"}
              %span.glyphicon.glyphicon-shopping-cart
              %div.inline.white.total-price
                = current_user.cart.total_money
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = current_user.username
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#{user_path(current_user.id)}"} 
                  Profile
              %li.divider
              - if current_user.super_admin?
                %li
                  %a{:href => "/admin_panel"} 
                    Admin Panel
                %li.divider
              %li
                %a{:href => "#{logout_path}"} 
                  = t('logout')
        - else
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Sign In
              %strong.caret
            .dropdown-menu{:style => "padding: 10px;min-width:240px;"}
              .login-box
                = render partial: 'sessions/new'
                = link_to 'Sign Up/New User', signup_path