.btn-group
  %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button", data: { class: "#{obj.class.to_s.downcase}-#{obj.id}-options" }}
    Admin
    %span.caret
  %ul.dropdown-menu{:role => "menu"}
    - if obj.deleted && current_user.king?
      %li
        %a{:href => "#", class: "btn-update-#{obj.class.to_s.downcase}", data: { forum_id: "#{obj.id}", table: "#{obj.class.to_s.downcase}-#{obj.id}", action: "un_delete" }} 
          = g_eye
          Un Delete
      %li
        %a{:href => "/users/#{obj.destroyer.id}"}
          Deleted by: #{friendly_name(obj.destroyer)}
    - elsif current_user.admin_of?(obj)
      %li
        %a{:href => "#", class: "btn-update-#{obj.class.to_s.downcase}", data: { forum_id: "#{obj.id}", table: "#{obj.class.to_s.downcase}-#{obj.id}", action: "delete" }} 
          = g_eye
          Delete
    - if obj.locked
      %li
        %a{:href => "#", class: "btn-update-#{obj.class.to_s.downcase}", data: { forum_id: "#{obj.id}", table: "#{obj.class.to_s.downcase}-#{obj.id}", action: "un_lock" }} 
          = g_
          Unlock
    - else
      %li
        %a{:href => "#", class: "btn-update-#{obj.class.to_s.downcase}", data: { forum_id: "#{obj.id}", table: "#{obj.class.to_s.downcase}-#{obj.id}", action: "lock" }} 
          = g_
          Lock
    - if current_user.king?
      %li.divider
      %li
        %a{:href => "#", class: "btn-update-#{obj.class.to_s.downcase}", data: { forum_id: "#{obj.id}", table: "#{obj.class.to_s.downcase}-#{obj.id}", action: "destroy" }} 
          = g_fire
          Destory
          = g_fire