!!!
%html{:lang => "en"}
  %head
    %title The House of Royals
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"}
    %script{:src => "https://js.braintreegateway.com/v2/braintree.js"}
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css", :rel => "stylesheet"}
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = csrf_meta_tags
  %body
    %div.container-fluid
      %div.row
        %div.col-md-10.col-md-offset-1
          #body
            = render partial: 'layouts/top_nav_bar'
            = yield
      %div.row
        %div.col-md-12
          - if Rails.env == 'development'
            %br
            %br
            = debug params
            = debug 'test'+last_path